tmp/
components/
managed_components/
build/
build.*/
build.stale-*/
dist/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
recordings/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
.cache
*.pyc
*.pyo
*.bin
*.elf
*.map
*.zip
mmap_generate_*.h
.clangd
